@-moz-document url-prefix("https://mail.google.com") {
/*
*    @author  Buddy
*    @title   Gmail - Clean Dark v1.1.7 [2018/12/05]
*    @url     https://userstyles.org/styles/166368/
*/
/*Loading screen */
#loading > div:nth-child(1) {
    background-color: #252525;
}


/*####################################################################################*/
/*Header */
.gb_Dd.gb_ce.gb_Md,
.gb_ge,
.gb_je,
.gb_ke,
.gb_qe {
    background-color: #1b1b1b!important;
}

#gb > div.gb_Ed.gb_de.gb_Nd {
    background-color: #1b1b1b!important;
}

.gb_Dd.gb_ce.gb_Md > div.gb_Bc.gb_Xd.gb_ze > div:nth-child(1) > svg > path,
#gb a.gb_ea,
#gb a.gb_ea:visited,
#gb a.gb_ea:active,
#gb a.gb_fa,
#gb a.gb_fa:visited {
    color: #8e8e8e;
}

.z0 > .L3 {
    background-color: #555;
    color: #ccc;
}

.z0 > .L3:hover,
.z0 > .L3:focus {
    background-color: #666!important;
}


/*Search icon */
.gb_bf.gb_lf > svg > path:nth-child(1) {
    color: #8e8e8e;
}

.gb_Ta svg,
.gb_lc svg {
    filter: invert(.5);
}


/*Search options -> */
.gb_qf > svg > path:nth-child(1) {
    color: #8e8e8e;
}

.ZF-z6,
.ZF-zT,
.ZF-Av .lJ,
.ZF-Av .lN,
.ZF-zT > .ZZ {
    background-color: #252525;
}

.SK.ZF-zT {
    border-color: #333;
}

.bs5::after {
    filter: invert(.9);
    padding-right: 10px;
}

.J-Kh {
    border-color: #333;
}

.bs1 + .bs3,
.btj + .aD {
    color: #999;
}

.bs1 + .bs3::before,
.btj + .aD::before,
.gb_Pe.gb_Tc svg,
.gb_1e button svg,
.gb_1e button img,
.gb_Va svg,
.gb_nc svg {
    filter: invert(.9)!important;
}


/*Calender*/
.J-JB-KA {
    background-color: #252525;
    border-color: #555;
    color: #aaa;
}

.J-JB-KA-a6O-Zq,
.J-JB-KA-a6O-Zj {
    color: #aaa;
}

.J-JB-KA-a1R-JB.J-JB-KA-LH,
.J-JB-KA-a1R-JB.J-JB-KA-Ku-Kk,
.J-JB-KA-JB.J-JB-KA-a1R-JB {
    color: #444;
}

.J-JB-KA-bsO,
.J-JB-KA-bsP {
    background-color: transparent!important;
    filter: invert(.5);
}

.J-JB-KA-JS,
.J-JB-KA-Jk {
    background-color: #252525;
    color: #999;
}

.J-JB-KA-Ku-Kk {
    color: #888;
}

.J-JB-KA-LG {
    background-color: #252525;
    color: #999;
}

.J-JB-KA-JB:not(.J-JB-KA-K8):not(.J-JB-KA-KO):hover::before {
    background: #999;
}

.J-JB-KA-K8::before {
    background: #aaaa;
}

.boo .aQl > .J-JN-M-I-JG,
.boo .aaa > .J-JN-M-I-JG,
.boo .ZE > .J-JN-M-I-JG {
    filter: invert(.5);
}


/*Text */
.bs0 > .acM.acN {
    color: #555;
}

.ZG {
    color: #aaa;
}


/* <- Text */
/* TextField -> */
.boo .nr,
.boo .nr:focus {
    background-color: #373737;
    color: #ccc;
}


/* <- TextField */
/* Checkbox */
.J-M {
    background-color: #252525;
}


/* Hover */
.J-N-JT {
    background-color: #353535;
}

.J-N-Jz,
.J-Ks {
    color: #777!important;
}

.boo .aQl > .J-JN-M-I-Jm,
.boo .aaa > .J-JN-M-I-Jm,
.boo .ZE > .J-JN-M-I-Jm {
    color: #999;
}


/* <- Search options */
/*Notification */
.gb_Ee.gb_Rc svg {
    color: #9d9d9d;
}


/*Google apps -> */
#gbwa > div > a > svg > path {
    color: #9d9d9d!important;
}

.gb_6,
.gb_6 + .gb_fa,
.gb_ha .gb_fa,
.gb_ha .gb_da {
    border-color: #252525;
}

#gb > div.gb_Dd.gb_ce.gb_Md > div.gb_ba.gb_aa.gb_ua.gb_g.gb_ca.gb_ha > a.gb_fa.gb_0f {
    color: #aaa;
}


/* <- Google apps */
/* Search bar */
#aso_search_form_anchor,
.gssb_m,
.gssb_e {
    background-color: #252525;
}

.gssb_i,
.gssb_l {
    background-color: #333!important;
}

.msgb {
    color: #ccc!important;
}

.asor {
    filter: invert(.9);
}

.gsoi_0 {
    filter: invert(.3);
}

.gssb_i > .gssb_a,
.gssb_e {
    border-color: #444;
}

.asor_o {
    filter: invert(.7);
}

.gssb_m {
    color: #959595!important;
}

#aso_search_form_anchor > div > input {
    color: #9d9d9d!important;
}


/*####################################################################################*/
/*Sidebar right*/
.nH.bAw.nn {
    background-color: #252525;
}

.brC-aT5-aOt-Jw {
    background-color: #252525;
}

.brC-aT5-aOt-axR {
    -webkit-border-before-color: #333;
}


/*Buttons*/
.brC-dA-I-Jp,
.aT5-aOt-I-JW .aT5-aOt-I-JX-Jw,
.aT5-aOt-I-Kq .aT5-aOt-I-JX-Jw,
.brC-aMv-bta .aT5-aOt-I-KO .aT5-aOt-I-JX-Jw,
.brC-aMv-bta .aT5-aOt-I-JO .aT5-aOt-I-JX-Jw {
    background-color: #333!important;
}

.brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-Jw,
.brC-aMv-bta .brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-Jw,
.aT5-aOt-I-JO .aT5-aOt-I-JX-Jw {
    background-color: #353535!important;
}

.brC-dA-I-JO,
.brC-aMv-bta .brC-dA-I-JO {
    background-color: #252525;
}

.brC-dA-I-JW,
.brC-aMv-bta .brC-dA-I-JW {
    background-color: #333;
}

.bse-bvF-I-JW .bse-bvF-JX-Jw,
.bse-bvF-I-Kq .bse-bvF-JX-Jw {
    background-color: #333;
}


/*Sidebar left*/
.aic {
    background-color: #252525;
}

.aeN .ajl {
    background-color: #252525;
}

.TO .nU > .n0,
.TO.NQ .nU > .n0,
.TO.nZ .nU > .n0,
.ah9 > .CJ,
.n3 > .CL > .CK {
    color: #aaa;
}

.aHS-bnw .qj,
.yE,
.TO > .aHS-bu1 .qj,
.aHS-bns .qj,
.aHS-bnu .qj,
.aHS-bnq .qj,
.aHS-bnr .qj,
div.TH,
.aH2-aLf,
.aHE-aLf {
    filter: invert(.9);
}

.J-KU-KO > .aH2-aLf,
.J-KU-KO > .aHE-aLf {
    filter: none;
}

.bsU {
    color: #999!important;
}

.air .G-asx,
.n4 .G-asx,
.aHS-aHP .qj,
.aHS-aHO .qj,
.aHS-bnx .qj,
.aHS-bnx .qj,
.CL::before,
.aHS-bnv .qj {
    filter: invert(.9);
}

.ajj.ajl:before {
    border-bottom: 1px solid #454545;
}

.wT > .n3 .byl:first-child .aim:first-child .nZ {
    background-color: #454545;
}


/* Fixen */
.nZ > .aHS-bnt .qj,
.aHS-bnt .qj::before,
.NQ .afM {
    filter: invert(.5);
}

.byl .TO.nZ > .aHS-bnt .n0,
.nZ > .aHS-bnt .bsU {
    color: #999;
}

.TO.NQ,
.n6 .ah9:hover,
.n6 .ah9.aiu:hover,
.n6 .ah9:focus,
.CL.NQ,
.CL:hover,
.CL:focus {
    background-color: #353535;
}

.TK .TO:active,
.n6 .ah9.aiu:active,
.CL:active,
.TO.nZ,
.TO.ol {
    background-color: #454545;
}

.aHS-bnt .qj {
    filter: invert(.9);
}

.J-N-Jz,
.J-Ks {
    color: #999;
}

.J-Ks-KO .J-N-Jo,
.asi .J-Ks-KO::before {
    filter: invert(.9)!important;
}

.afQ {
    color: #656565;
}

.afL .J-M-Jz {
    border-right: 1px solid #444;
}

.nL,
.J-Ph-hFsbo {
    filter: invert(.7);
}

.byl .nZ.aS6,
.byl .nZ.aS4,
.byl .nZ.aS3,
.byl .nZ.aS5 {
    background-color: #454545;
}


/*####################################################################################*/
/* Hangouts */
.J-KU .aH3,
.J-KU-KO .aH3,
.J-KU.a65 .aj2,
.J-KU-KO.a65 .aj2,
.J-KU-JW.a65 .aj2,
.J-KU .a8V,
.J-KU-KO .a8V,
.J-KU-JW .a8V {
    filter: invert(0.7);
}

.aj5.J-KU-Jg {
    border-top: 1px solid #555;
}

.Xg,
.a07 .a06,
.a07 .a06 .a1i,
.a07 .a06 .T-P-Jz-UR,
div.ibIQPb,
div.Yo,
div.zA,
div.mD,
div.Lo,
.aOY59,
.Wkchmf,
.aeN .akc,
.oo,
.aeO,
.aj5 .J-KU,
.aj5.J-KU-Jg,
.gB,
.x1bKod,
.G-atb {
    background-color: #252525;
}

.T-P-atE .T-P-atC,
.T-P-atF .T-P-atC {
    border-color: transparent #999;
}

.VQ7Kyb {
    border: 1px solid #555;
}

.YAtp9b,
.RM,
.tly4Vb,
.yeJIie,
.dBcHLc {
    color: #999;
}

.ahRshd .wxPY,
.bi97z,
.xJpgab .M-ea {
    color: #aaa;
}

body.muPwQb .X.B .mnIV2e {
    filter: invert(.9);
}

.Qcw3ab {
    border-top: 1px solid #555;
}

.NLK4Q {
    color: #bbb;
}

.Yo .z-b-G,
.Lo .vo > button,
.vr .z-b-G {
    filter: invert(.85);
}

.c-i,
.Ukpgsf,
.SphxG {
    background-color: #252525;
    border: 1px solid rgba(0, 0, 0, .2);
}

.c-k-o .c-k-t {
    color: #757575!important;
}

.c-k-Tb,
.c-k-p {
    background-color: #454545;
    border-color: #454545;
}

.c-k-Tb .c-k-t,
.c-k-p .c-k-t,
.eMuujb,
.aeN .akc,
.oo,
.aeO,
.aj5 .J-KU,
.aj5.J-KU-Jg,
.gB,
.c-k,
.cj,
.FzSsbb,
.VqBtHf {
    color: #aaa;
}

.pghO0c {
    color: #aaaaaad1;
}

.kebQ9c,
.aNteJf,
.mUbCce.RDPZE,
.G-tF .T-Jo,
.kebQ9c,
.aNteJf,
.mUbCce.RDPZE,
.G-tF .T-Jo,
.G-Ni .G-asx,
.asa,
.G-atb .T-I-ax7,
.G-atb .T-I-ax7.T-I-JW,
.G-atb .T-I-ax7.J-JN-M-I-JW,
.G-atb .T-I-ax7.T-I-Js-Gs,
.G-atb .T-I-ax7.T-I-JE,
.G-atb .T-I-ax7:focus,
.G-atb .T-I-ax7.T-I-Kq,
.G-atb .T-I-ax7.J-JN-M-I-Kq,
.xE .G-atb .T-I-ax7,
.xE .G-atb .T-I-ax7.T-I-JW,
.xE .G-atb .T-I-ax7.J-JN-M-I-JW,
.xE .G-atb .T-I-ax7.T-I-Js-Gs,
.xE .G-atb .T-I-ax7.T-I-JE,
.xE .G-atb .T-I-ax7:focus,
.xE .G-atb .T-I-ax7.T-I-Kq,
.xE .G-atb .T-I-ax7.J-JN-M-I-Kq,
.aTn {
    filter: invert(.5);
}

.bi97z:hover:before,
.EFnEWc:focus,
.EFnEWc:hover,
.eh.c-P-p,
.YG3x7.c-P-p,
.YG3x7.c-P-p.c-P-B {
    background-color: #353535;
}

.aOY59,
.Wkchmf {
    background-color: #252525;
}

.rNeXgf,
.UqiX1c.D9V1sf,
.eZoeIc,
.jzcNb {
    color: #999;
}

.Wkchmf .kp,
.Dj.Dj {
    color: #858585;
}

.OYecEb,
.i8deMd {
    filter: invert(.9);
}

.aOY59,
.Wkchmf,
.Eg12ac {
    border-bottom: 1px solid #555;
}

.X9qCPe,
.H3qADd {
    color: #858585;
}

.ewttPb {
    border-top: 1px solid #555;
}

.T-P {
    border: 1px solid #353535;
}

.sUSmAe {
    border-bottom: 1px solid #555;
}

.IxxFkc {
    fill: #999999ab;
}



/*Mail*/
.aKh,
.aeJ,
#\3a 5 {
    background-color: #252525;
}

.aRz.J-KU:hover,
.yO {
    background-color: #333;
}

.x7 {
    background-color: #454545;
}

.zE {
    background-color: #2b2b2b;
}

.bAw .brC-aT5-aOt-Jw {
    border-color: #333;
}

.J-KU-JW:not(.aDO) .aKz {
    color: #aaa;
}

.yO,
.zE {
    color: #858585;
}

.J-KU-KO.aIf-aLe .aKz {
    color: #d93025!important;
}

.J-KU-KO.aKe-aLe .aKz {
    color: #1a73e8!important;
}

.J-KU-KO.aJi-aLe .aKz {
    color: #1e8e3e!important;
}

.xY > .T-Jo,
td.apU > .T-KT.aXw::before,
.a9q,
td.oZ-x3::before,
.brq,
.bru,
.brr,
.brv,
.brs .aDD,
.aDF {
    filter: invert(.9);
}

.J-KU-KO > .aIf-aLf,
.J-KU-KO > .aKe-aLf,
.J-KU-KO > .aJi-aLf {
    filter: none;
}

.aIf-aLf,
.aKe-aLf,
.aJi-aLf,
.brs {
    filter: invert(.9);
}

.d-Na-JX-I.d-Na-M7-JX.d-Na-Gs,
.d-Na-JX-I.d-Na-JG.d-Na-IF {
    filter: invert(.5);
}

.zA:hover {
    background-color: #272727;
    box-shadow: inset 1px 0 0 #555, inset -1px 0 0 #555;
}

.aRs {
    background-color: #252525;
}


/*language*/
.d-Na-JG-M {
    background-color: #252525;
}

.d-Na-N,
.d-Qs-K7,
.J-ayz-J8-J9 {
    color: #858585;
}

.d-Na-N-JW {
    color: #999!important;
    background-color: #272727!important;
}

.av,
.at {
    color: #ababab!important;
    background-color: #393939!important;
}

.d-Na-J3,
.d-Qs-aLg.d-Qs-aE6,
.d-Qs-aLg.d-Qs-aE8 {
    filter: invert(0.9)!important;
}

.d-Qs-M8-ayz,
.d-Qs-KO-ayz,
.d-Qs-RG,
.d-Qs-aAL-at6 {
    border-color: #555;
}

.d-Na-axR {
    border-color: #282828!important;
}

.d-Qs-Md {
    background-color: #252525;
    box-shadow: 1px 4px 15px #3b3b3b;
}

/* Google-Apps */
.gb_aa,
.iWO9fc,
a.gb_ng {
    background-color: #1b1b1b!important;
}
.gb_da {
    background-color: #333!important;
}

.iWO9fc .mUbCce svg {
    fill: rgba(227, 39, 39, 0.54);
}

.gb_X,
.gb_Z,
a.gb_ig {
    color: #ccc!important;
}

.gb_ea {
    background-color: #1f1f1f!important;
}

.gb_aa {
    background-color: #252525!important;
}

.gb_T:hover a {
    border: none;
    background-color: #2f2f2f!important;
}

.gb_T:hover .gb_X,
.gb_T:hover .gb_Z {
    background: none!important;
}
.gb_ga {
    border-bottom: 1px solid #555!important;
    left: 0px!important;
    width: 100%!important;
}

/*Placeholder */
::-webkit-input-placeholder {
    color: #8e8e8e!important;
}

::-moz-placeholder {
    color: #8e8e8e!important;
}

:-moz-placeholder {
    color: #8e8e8e!important;
}

:-ms-input-placeholder {
    color: #8e8e8e!important;
}

/*Compactness degree*/
.buk,
.bui,
.buj,
.aJe,
span.Kj-JD-K7-Jq,
.T-Jo-Jp,
.T-Jo {
    filter: invert(.92);
}

.aJ7 .aI0,
.a8Y.Kj-JD-Jl {
    border-color: #252525;
}

.a80.Kj-JD-K7 {
    box-shadow: 0 5px 10px -5px #121212;
}

.bug {
    background-color: #282624;
}

div.Kj-JD {
    background-color: #252525;
}

.bum .T-bfE,
.a81 {
    border-color: #353535;
}

.Kj-JD-K7,
span.Kj-JD-K7-K0,
div.Kj-JD-Jz {
    color: #999!important;
}

.bul {
    color: #93969c;
}

/*Settings*/
.r4,
.alO {
    background-color: #353535;
}

.dt {
    color: #999;
}

.r7 .e {
    color: #135ee1;
}

.a80.Kj-JD-K7 {
    border: none;
}

.rZ,
.Ze,
.qK,
.J-Z,
.qL,
.Ar,
.Am,
.LW-JD .J-KU-Jz,
.LW-KX .J-KU-Jz,
.LW-KX .J-KU-Jg,
.LW-KX-Jm,
.LW-KX .J-KU {
    background-color: #252525!important;
}

.rU > button,
.rV > button,
.v9 input,
input,
textarea,
select,
.alZ {
    background-color: #555;
    border: 1px solid #333;
    color: #aaa;
    cursor: pointer;
}

.rU > button:hover,
.rV > button:hover,
.v9 input:hover,
.v9 input,
input,
textarea,
select:hover {
    background-color: #666;
    color: #bbb;
}

#\3a 23 > input[type="button"] {
    width: 250px;
}

.Ar {
    border-color: #555!important;
}

div.Kj-JD-Jl > button.J-at1-atl:disabled,
div.Kj-JD-Jl > button.J-at1-auR:disabled {
    background-color: #222;
}

.LW-Ke-JD-JI-K0 a {
    color: #1421cf!important;
}

.Ap {
    background-color: #555!important;
}

.r7 td.r8,
.r7 td.r9,
.al8,
.al7 {
    border-color: #555;
}

.rc,
.bAY .rm,
.rl .bA1 .rS,
.r8,
.alL,
.aZ .J-Z-axO .J-Z-M-I-Jm,
.J-N-Jz,
.J-Ks {
    color: #aaa!important;
}

.bAY .rm,
.rS,
.bsX,
.r7,
.yV,
.azf,
.al6,
.alC,
.alD,
.alR,
.LW-KX .J-KU-KO,
.LW-KX .J-KU {
    color: #999!important;
}

.J-Z-M-I-J6-H > .J-Z-M-I-JG,
.aaA.eY,
.aaA.eS,
.aaA.fb,
.aaA.eN,
.aaA.e3,
.aaA.fu,
.aaB {
    filter: invert(0.9);
}

.d-Qs-K1-JX,
.d-Qs-aEu,
.d-Qs-aEu,
.d-Qs-K1 {
    background: #444!important;
    border-color: #444!important;
}

.d-Qs-K1,
.d-Qs-K1-JX {
    background: #555!important;
}

.d-Qs-Jh-JF {
    background-color: #000;
}

#ita-st-id-off {
    color: #ccc!important;
}

input[type="checkbox"] {
    -webkit-appearance: none!important;
    border: 5px solid #252525!important;
    background: #252525!important;
    height: 11px!important;
}

input[type="checkbox"]:checked {
    -webkit-appearance: none!important;
    border: 5px solid #bbb!important;
    background: #bbb!important;
    height: 11px!important;
}

button:disabled {
    border: 3px solid #252525;
    background-color: #252525;
    color: #555;
}
/*Buttons*/
/*#\3a 2x*/
#\3a 2y,
#\3a 1nr {
    width: 0;
}

.d-Qs-Jq-ax3 {
    filter: invert(.9);
}

.J-ayz-axF.KO {
    background-color: #353535;
}

.d-Qs-aLJ,
.d-Qs-aEu:focus,
.d-Qs-Jq:focus,
.d-Qs-aLg:focus,
.d-Qs-at6-I:focus {
    outline-color: #252525;
}

input[type="radio"] {
    border: solid #777!important;
    border-width: 0px 7px 0px 8px!important;
    border-radius: 10px!important;
    -webkit-appearance: none!important;
    width: 0!important;
}

input[type="radio"]:checked {
    border-color: #ddd!important;
    width: 0!important;
}

/* BugFixes left side*/
.ajj:before {
    border-bottom: none;
}

.aeN:hover .aeQ,
.aeR .aeQ,
.aeP .aeQ {
    background-color: #555;
}
.bhZ.bym .aj5,
.bhZ.bjB .aj5 {
    background-color: #252525;
}

.ol .bsU {
    color: #999;
}

body > div.d-Qs-Jh-JF {
    background: #000!important;
}

/* BugFixes middle */
.TD,
.Tm .ya {
    background-color: #353535;
}

.gb_Va svg,
.gb_1e button svg,
.gb_Pe.gb_Tc svg {
    filter: none!important;
    fill: #ababab!important;
}

.gb_8 .gb_b {
    filter: none!important;
}

.TB,
.Tm .ya,
.gb_0b,
.gb_aa,
.nU {
    color: #999!important;
}

.gb_aa,
.gb_za {
    border: none;
}

.nZ.aS6 .qj,
.aS6 .qj::before,
.nZ.aS4 .qj,
.aS4 .qj::before,
.nZ.aS3 .qj,
.aS3 .qj::before,
.nZ.aS5 .qj,
.aS5 .qj::before {
    filter: none!important;
}

.sZ,
.aDD,
.sY,
.s8,
.s5,
.gb_Wa svg,
.gb_vc svg {
    filter: invert(0.9);
}

.gb_Nb,
.gb_Rb,
.gb_Sb,
.gb_Pb,
.gb_Hb {
    background-color: #252525;
}

.gb_Nb:hover,
.gb_Rb:hover,
.gb_Sb:hover,
.gb_Pb:hover,
.gb_za {
    background-color: #333;
}

/*Write E-Mail */
.dF .dG,
.nr,
.Ar,
.aoT,
.vO,
.az9,
.asc,
.J-N,
.J-LC,
.J-JK {
    color: #ababab!important;
}

.aoI,
.aoT,
.vO,
.eV > .oj .aA6,
.aaZ,
.eV > .oj .nr,
.eV > .oj .l1,
.btC,
.Ur > .aX,
.v9 .aX,
.bv8 {
    background-color: #252525!important;
}

.aiv,
.aiv .am > .ao5,
.qDm3sf,
.hbZTIc,
.qDm3sf,
.hbZTIc,
.agd .J-M-JJ input,
.a8u {
    background-color: #353535!important;
}

.ah .Jd-Je,
.aiv .am > .ao5 {
    background-color: #444;
}

.vR > .vN {
    background-color: #353535!important;
    border-color: #555!important;
}

.J-LC-JT,
.J-LC-JW,
.J-JK-JT,
.J-JK-JW {
    background-color: #555!important;
}

.aiv .am > .ao5,
.Oux49,
.Yh1nIb,
.vN > .vT,
.agd .J-M-JJ input,
.aAi {
    color: #999!important;
}

.agd .J-M-JJ input,
.xx {
    cursor: text!important;
}

.aiv .am > .Sr {
    color: #858585!important;
}

.aiv .am > .ao5,
.Oux49,
.Yh1nIb {
    background-color: transparent!important;
}

button {
    cursor: pointer;
}

button.a8v {
    opacity: .4;
    filter: invert(.9);
}

button.a8v.Je {
    filter: invert(.22);
}

.biz {
    border-bottom-color: #666;
    cursor: text;
}

.cri8dc,
.a8F {
    border-color: #555;
}

.J-Ke-I {
    color: #1e4dd3;
}

.vN > .vM {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/close_white_16dp.png');
}

.dv,
.aMZ.a1,
.aMZ.e5,
.aMZ.QT,
.aMZ.aA7,
.J-Z-I-J6-H > .aMZ.a5,
.J-Z-I-J6-H > .aMZ.a2X,
.aMZ.buc,
.og.T-I-J3,
.Xv.T-I.J-JN-M-I > .J-JN-M-I-JG,
.azp,
.J-LC-Jo,
.bi4 > .T-KT:not(.T-KT-Jp):not(.byM)::before,
.A0 {
    filter: invert(.9);
}

.J-LC-JT,
.J-LC-JW,
.J-JK-JT,
.J-JK-JW {
    border-color: #555!important;
}

/*####################################################################################*/
/* Track */
.Tm::-webkit-scrollbar-track {
    background-color: #222;
}

/* Handle */
.Tm::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

.Tm::-webkit-scrollbar-thumb:hover {
    background-color: #555!important;
}

.aZ6::-webkit-scrollbar-track {
    background-color: #222;
}

/* Handle */
.aZ6::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

.aZ6::-webkit-scrollbar-thumb:hover {
    background-color: #555!important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #333;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Remove focus outline */
:focus {
    outline: none;
}
}

@-moz-document url-prefix("https://hangouts.google.com") {
/*Hangouts */
.td .kr,
.ICsgXc {
    color: #959595!important;
}

.jr .P8UpRe .au {
    filter: invert(.9);
}

.Yo button.S2zqnf > .ydLZ9 {
    fill: #999;
}

.WD {
    background-color: #252525!important;
}

.azewN,
.At.Jf {
    border-color: #555555!important;
}

.aj5.J-KU-Jg {
    border-top: #000!important;
}
}

@-moz-document regexp("https://mail.google.com/mail/u/[0-9]*/#(inbox|sent|starred|snoozed|imp|spam|category|all|label/[^/]*)(/(social|updates|forums|spam|trash|promotions)?)?/FM[A-Za-z]*(\\?compose=new)?") {
.AO {
    filter: invert(0.9);
}
.bzt {
    filter: invert(1)!important;
}
.bzx {
    background-color: #201e1e!important;
    filter: invert(1)!important;
}
.nonplayable {
    filter: invert(0.9);
}

html {
    background: #252525!important;
}

img.gb_Wa,
.ha .pH-A7,
.ha .aoj,
.T-KT,
.T-I .T-I-J3,
.hB,
.mL,
img.gb_Xa,
.mI,
.gb_Me.gb_ec.gb_te > .gb_Xa {
    filter: none;
}

img {
    filter: invert(0.9)saturate(2);
}

.aCi {
    filter: invert(1) brightness(1.1);
}

#\3a 5 {
    background-color: #252525!important;
}

.gB.xu,
.J-M,
.aKh,
.aeJ,
#\3a 5 {
    background-color: #fff;
}

.J-N-JT {
    background-color: #fbfbfb;
}

.J-M {
    box-shadow: 0 8px 10px 1px rgba(255, 255, 255, .14), 0 3px 14px 2px rgba(235, 229, 229, .12), 0 5px 5px -3px rgba(199, 184, 184, 0);
}

/*####################################################################################*/
/* Track */
.Tm::-webkit-scrollbar-track {
    background-color: #eee;
}

/* Handle */
.Tm::-webkit-scrollbar-thumb {
    background-color: #dedede;
}

.Tm::-webkit-scrollbar-thumb:hover {
    background-color: #dfdfdf!important;
}
}

@-moz-document url-prefix("https://notifications.google.com/") {
.iWO9fc,
.fEjTrb,
.jvWPmb.qs41qe .fEjTrb {
    background-color: #1b1b1b;
}

.Vz68Kb,
.gMG7Fd,
.wh73ab {
    color: rgba(241, 239, 239, .54);
}

.iWO9fc .mUbCce:hover svg {
    fill: rgb(184, 172, 172)!important;
}

.iWO9fc .mUbCce svg,
.XSVuue,
.ajgU6 {
    fill: rgba(255, 255, 255, 0.54);
}

.GMKGzc {
    background-color: #252525;
}
}

@-moz-document url-prefix("https://contacts.google.com/") {
.ah .Jd-Je,
.qDm3sf {
    background-color: #353535!important;
}

.Yh1nIb,
.YGvwud {
    color: #999!important;
}

.Oux49 {
    color: #ababab!important;
}

.cri8dc {
    border-color: #555;
}
}